@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome Chris!<br>This is Your Web Page!</h1>
    <img src="~/img/CP_Logo_Only_Transparent_80x80.png" alt="Creative Programming Logo" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
