@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p><img src="~/img/CP-Logo_175x39.png" alt="Creative Programming Logo"/></p>
<p>Copyright usage allowed.</p>
<p>Logo and thumbnail image from <a href="https://creativeprogramming.ca">Creative Programming Inc.</a>
    No copyright infringement is intended. The image is bing used here for educational purposes.</p>
